.banner{
    background-image: url("../imgs/banner.png");
    height: 600px;
    background-size: cover;
    background-position: center;
    margin: 50px 70px;
}

@media screen and (max-width: 500px){

    .banner{
        margin: 40px 20px;
        height: 166px;
    }
    

}
